<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<context-param>      
        <param-name>log4jConfigLocation</param-name>      
        <param-value>WEB-INF/classes/log4j.properties</param-value>      
	</context-param>         
	<context-param>      
        	<param-name>log4jRefreshInterval</param-name>      
        	<param-value>6000000</param-value>      
	</context-param>  
	<context-param>
		<param-name>pushAppRootKey</param-name>
		<param-value>pushLog.root</param-value>
	</context-param> 
	<context-param>
		<param-name>org.apache.tomcat.websocket.executorCoreSize</param-name>
		<param-value>200</param-value>
		</context-param>
	<context-param>
		<param-name>org.apache.tomcat.websocket.executorMaxSize</param-name>
		<param-value>1000</param-value>
	</context-param>
    <listener>      
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>      
	</listener> 
	<filter>
		<filter-name>CompressionFilter</filter-name>
		<filter-class>
			com.common.filter.CompressionFilter
		</filter-class>
		<init-param>
			<param-name>compressionThreshold</param-name>
			<param-value>512</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CompressionFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
   <servlet>
   		 <display-name>DnsServlet</display-name>
   		 <servlet-name>DnsServlet</servlet-name>
   		 <servlet-class>com.module.business.servlet.DnsServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>DnsServlet</servlet-name>
  	 	 <url-pattern>/module/business/dns</url-pattern>
  	</servlet-mapping>
  <servlet>
    <display-name>BaseConfig</display-name>
    <servlet-name>BaseConfig</servlet-name>
    <servlet-class>com.module.base.servlet.BaseConfigServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>BaseConfig</servlet-name>
    <url-pattern>/module/base/config</url-pattern>
   </servlet-mapping>
	<servlet>
   		 <display-name>InitForwardServlet</display-name>
   		 <servlet-name>InitForwardServlet</servlet-name>
   		 <servlet-class>com.module.api.InitForwardServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>InitForwardServlet</servlet-name>
  	 	 <url-pattern>/api/init_forward</url-pattern>
  	</servlet-mapping>
	<servlet>
   		 <display-name>PushIpListServlet</display-name>
   		 <servlet-name>PushIpListServlet</servlet-name>
   		 <servlet-class>com.module.api.PushIpListServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>PushIpListServlet</servlet-name>
  	 	 <url-pattern>/api/push_ip_list</url-pattern>
  	</servlet-mapping>
	<servlet>
   		 <display-name>GetBlackListsServlet</display-name>
   		 <servlet-name>GetBlackListsServlet</servlet-name>
   		 <servlet-class>com.module.api.GetBlackListsServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>GetBlackListsServlet</servlet-name>
  	 	 <url-pattern>/api/get_blacklists</url-pattern>
  	</servlet-mapping>
	<servlet>
   		 <display-name>PushserverServlet</display-name>
   		 <servlet-name>PushserverServlet</servlet-name>
   		 <servlet-class>com.module.business.servlet.PushserverServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>PushserverServlet</servlet-name>
  	 	 <url-pattern>/module/business/pushserver</url-pattern>
  	</servlet-mapping>
	<servlet>
   		 <display-name>WhitelistServlet</display-name>
   		 <servlet-name>WhitelistServlet</servlet-name>
   		 <servlet-class>com.module.business.servlet.WhitelistServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>WhitelistServlet</servlet-name>
  	 	 <url-pattern>/module/business/whitelist</url-pattern>
  	</servlet-mapping>
	<servlet>
   		 <display-name>TaskServlet</display-name>
   		 <servlet-name>TaskServlet</servlet-name>
   		 <servlet-class>com.module.business.servlet.TaskServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>TaskServlet</servlet-name>
  	 	 <url-pattern>/module/business/task</url-pattern>
  	</servlet-mapping>
	<servlet>
   		 <display-name>SnifferStatisticsServlet</display-name>
   		 <servlet-name>SnifferStatisticsServlet</servlet-name>
   		 <servlet-class>com.module.log.servlet.SnifferStatisticsServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>SnifferStatisticsServlet</servlet-name>
  	 	 <url-pattern>/module/log/snifferStatistics</url-pattern>
  	</servlet-mapping>
	<servlet>
   		 <display-name>RuleStatisticsServlet</display-name>
   		 <servlet-name>RuleStatisticsServlet</servlet-name>
   		 <servlet-class>com.module.log.servlet.RuleStatisticsServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>RuleStatisticsServlet</servlet-name>
  	 	 <url-pattern>/module/log/ruleStatistics</url-pattern>
  	</servlet-mapping>
	<servlet>
   		 <display-name>CommandServlet</display-name>
   		 <servlet-name>CommandServlet</servlet-name>
   		 <servlet-class>com.module.api.CommandServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>CommandServlet</servlet-name>
  	 	 <url-pattern>/api/command</url-pattern>
  	</servlet-mapping>
	<servlet>
   		 <display-name>InitDaemonServlet</display-name>
   		 <servlet-name>InitDaemonServlet</servlet-name>
   		 <servlet-class>com.module.api.InitDaemonServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>InitDaemonServlet</servlet-name>
  	 	 <url-pattern>/api/init_daemon</url-pattern>
  	</servlet-mapping>
	<servlet>
   		 <display-name>ChannelServlet</display-name>
   		 <servlet-name>ChannelServlet</servlet-name>
   		 <servlet-class>com.module.business.servlet.ChannelServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>ChannelServlet</servlet-name>
  	 	 <url-pattern>/module/business/channel</url-pattern>
  	</servlet-mapping>
  	<servlet>
   		 <display-name>RuleServlet</display-name>
   		 <servlet-name>RuleServlet</servlet-name>
   		 <servlet-class>com.module.business.servlet.RuleServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>RuleServlet</servlet-name>
  	 	 <url-pattern>/module/business/rule</url-pattern>
  	</servlet-mapping>
  	<servlet>
   		 <display-name>MenuServlet</display-name>
   		 <servlet-name>MenuServlet</servlet-name>
   		 <servlet-class>com.module.manage.servlet.MenuServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>MenuServlet</servlet-name>
  	 	 <url-pattern>/module/manage/menu</url-pattern>
  	</servlet-mapping>
  	 <servlet>
   		 <display-name>UserServlet</display-name>
   		 <servlet-name>UserServlet</servlet-name>
   		 <servlet-class>com.module.manage.servlet.UserServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>UserServlet</servlet-name>
  	 	 <url-pattern>/module/manage/user</url-pattern>
  	</servlet-mapping>
  	<servlet>
   		 <display-name>ManageLogon</display-name>
   		 <servlet-name>ManageLogon</servlet-name>
   		 <servlet-class>com.module.page.ManageLogon</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>ManageLogon</servlet-name>
  	 	 <url-pattern>/page/managelogon</url-pattern>
  	</servlet-mapping>
  	<servlet>
   		 <display-name>SelectServlet</display-name>
   		 <servlet-name>SelectServlet</servlet-name>
   		 <servlet-class>com.common.servlet.SelectServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>SelectServlet</servlet-name>
  	 	 <url-pattern>/select</url-pattern>
  	</servlet-mapping>
  	<servlet>
   		 <display-name>ChannelLogServlet</display-name>
   		 <servlet-name>ChannelLogServlet</servlet-name>
   		 <servlet-class>com.module.data.servlet.ChannelLogServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>ChannelLogServlet</servlet-name>
  	 	 <url-pattern>/module/data/channelLog</url-pattern>
  	</servlet-mapping>
  	<servlet>
   		 <display-name>ChannelCmdServlet</display-name>
   		 <servlet-name>ChannelCmdServlet</servlet-name>
   		 <servlet-class>com.module.business.servlet.ChannelCmdServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>ChannelCmdServlet</servlet-name>
  	 	 <url-pattern>/module/business/channelCmd</url-pattern>
  	</servlet-mapping>
  	<servlet>
   		 <display-name>GetControlServlet</display-name>
   		 <servlet-name>GetControlServlet</servlet-name>
   		 <servlet-class>com.module.api.GetControlServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>GetControlServlet</servlet-name>
  	 	 <url-pattern>/api/get_control</url-pattern>
  	</servlet-mapping>
  	<servlet>
   		 <display-name>InitEthServlet</display-name>
   		 <servlet-name>InitEthServlet</servlet-name>
   		 <servlet-class>com.module.api.InitEthServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>InitEthServlet</servlet-name>
  	 	 <url-pattern>/api/init_eth</url-pattern>
  	</servlet-mapping>
  	<servlet>
   		 <display-name>PushCountServlet</display-name>
   		 <servlet-name>PushCountServlet</servlet-name>
   		 <servlet-class>com.module.api.PushCountServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>PushCountServlet</servlet-name>
  	 	 <url-pattern>/api/push_count</url-pattern>
  	</servlet-mapping>
  	<servlet>
   		 <display-name>StatisticsServlet</display-name>
   		 <servlet-name>StatisticsServlet</servlet-name>
   		 <servlet-class>com.module.data.servlet.StatisticsServlet</servlet-class>
  	</servlet> 
	<servlet-mapping>
   	 	 <servlet-name>StatisticsServlet</servlet-name>
  	 	 <url-pattern>/module/data/statistics</url-pattern>
  	</servlet-mapping>
  	
  		<listener>  
		 <listener-class>com.common.init.Initialize</listener-class>
	 </listener>
	<welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
 	 </welcome-file-list>
    <jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/functions</taglib-uri>
			<taglib-location>/WEB-INF/fn.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/fmt.tld</taglib-location>
		</taglib>		
	</jsp-config>
	<error-page>
			<error-code>404</error-code>
			<location>/html/404.html</location>
	</error-page>
</web-app>
